// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// font size
$font-sm: .75rem;
$font-md: 1.75rem;
$font-lg: 2rem;
$font-xl: 3rem;
