body {
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

.custom-input {
    padding: 5px 20px;
    border-bottom: 1px solid rgb(133, 133, 133);
    border-radius: 0px;
    background: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    width: 100%;
    background: #F6F6F6;
    color: #aaa0a0;
    &:focus {
      background: #F6F6F6;
      outline: none;
      border-bottom: 2px solid #AB0C29;
      transition: all 0.5 ease-in-out;
    }
  }
  .container {
    padding: 20px;
    max-width: 1200px;
    margin:  auto;
  }

  .primary-btn {
    background-color: #FF9F2F !important;
    color: #fff !important;

  }
  .danger-btn {
    background-color: #EB6262 !important;
    color: #fff !important;

  }
  .small-label {
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 600;
  }
  .copyright {
    font-size: 10px;
    text-align: center;
    margin-top: 15px;
  }

  .form-border {
    padding: 20px 25px;
    border-radius: 8px;
    border: 1px solid #FFEAD2;
    box-shadow: rgba(255, 251, 195, 0.2) 0px 8px 24px;
  }

.error-message {
    font-size: 12px;
    color: #F45E5E;
}
.icon {
    background-color: #F8F2F2;
    color: #FF9F2F ;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    width: 30px;
    height: 30px;
    text-align: center;

    i {
        text-align: center;
        font-size: 16px;
        margin-left: 1px;
        margin-top: 1px;
    }

}
.main {
    height: 100vh !important;
    background-color: #FFFEF7 !important;
}
.title {
    color: #800000;
    font-size: 32px;
    font-weight: 500;
}

.dashboard-container {
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
}
